$accentColor = #00027D
$accentLightColor = #006EFF
$textColor = #000000
$textLighterColor = #121212
$redColor = #FF3037
$whiteColor = #FFFFFF
$shadeColor = #F2F2F2
$lightGrayColor = #A1A1A1
// $borderColor = #eaecef
// $codeBgColor = #282c34

$nprogressColor = #FF3037
$navbarHeight = 6.75rem
$navbarLogoSize = 2.25rem
$navbarLogoSizeBig = 3rem

$boxesRadius = 5px
$imageCornerRadius = 5px

$pageMaxWidth = 1110px
$blogMaxWidth = 760px