.blogpost-page
  font-family Cabin
  margin-top 32px

  h1
    margin-top 36px
    margin-bottom 12px
    font-size 20px
    line-height 40px
    color $accentColor

  h2
    margin-top 36px
    margin-bottom 4px
    font-size 16px
    line-height 30px
    color $accentColor

  @media only screen and (max-width : 414px)
    h1
      line-height 24px

  p
    margin 16px 0
    font-size 16px
    line-height 24px
    font-weight 500
    color $textLighterColor
    text-align justify
    text-justify inter-word

  h2 + p
    margin 0

  @media (max-width: 880px)
    h1,
    p
      margin 8px 32px

  .header-anchor
    display none

  @media (max-width: 880px)
    h1,h2,h3,h4,h5,h6, h2 + p
      margin-left 32px
      margin-right 32px
    