.contact-content
  display flex
  flex-flow row
  flex-wrap wrap

@media (max-width: 1180px)
  .contact-content
    flex-flow column

  .contact__map
    margin 32px 0 0 0

@media only screen and (max-width : 414px)
  .contact__map
    margin 0

.address-line
  display block
  color $blackColor
  font-family Cabin
  font-size 16px
  letter-spacing 0.5px
  line-height 24px

.address-company-name
  color $redColor
  font-family Cabin
  font-size 24px
  font-weight bold
  letter-spacing 0.24px
  line-height 36px
  margin-bottom 16px

.address-signed
  color $textLighterColor
  font-family Cabin
  font-size 16px
  font-style italic
  letter-spacing 0.5px
  line-height 24px

.form-input
  display inline-flex
  flex-flow column
  max-width 320px
  width 100%
  margin-bottom 2rem
  margin-right 2rem

.form-input__label
  color $redColor
  font-family Cabin
  font-weight 600
  font-size 16px
  letter-spacing 2px
  line-height 24px
  text-transform uppercase
  margin-bottom 0.5rem

.form-input__input
  border 0
  font-family Cabin
  font-weight 600
  font-size 16px
  letter-spacing 0.5px
  line-height 24px
  border-bottom 1px solid #A1A1A1

.form-input__input.form-input__input--area
  border 1px solid #A1A1A1
  border-radius $boxesRadius

.form-button
  border 1px solid transparent
  border-radius $boxesRadius
  background-color $redColor
  width 100%
  max-width 255px
  padding 1rem
  color $whiteColor
  font-family Cabin
  font-size 16px
  font-weight bold
  letter-spacing 0.06px
  line-height 24px
  text-align center
  cursor pointer

.form-button:hover
  border 1px solid $redColor
  background-color $whiteColor
  color $redColor

@media only screen and (max-width : 414px)
  .form-button
    margin-bottom 32px

.input-area
  margin-top 1rem

.contact__map
    border-radius $imageCornerRadius
    width 34rem
    height 18rem
    border none
    margin 0 4rem

@media only screen and (max-width : 414px)
  .contact__map
    width 20rem
    height 20rem
    margin 0

.page-header.contact-us
  margin-top 6rem