.frontpage__header
  height 451px
  background #00027D
  padding-top 3rem
  display flex
  flex auto
  justify-content center
  margin-bottom 2rem

@media only screen and (max-width : 414px)
  .frontpage__header
    padding 8px
    margin-bottom 16px

@media (max-width: 1500px)
  .frontpage__header
    overflow hidden

.frontpage__header__content
  position relative
  display flex
  flex auto
  flex-flow column
  max-width $pageMaxWidth

@media (max-width: 1180px)
  .frontpage__header__content
    margin 0 32px

.frontpage__header__jsme-specialiste
  height 179px
  width 510px
  color #FFFFFF
  font-family Cabin
  font-weight 400
  font-size 3rem
  letter-spacing 0.11px
  line-height 60px
  margin-top 2.5rem
  margin-bottom 1rem

@media (max-width: 570px)
  .frontpage__header__jsme-specialiste
    height auto
    width auto
    font-size 2rem
    line-height 40px

@media (max-width: 760px)
  .frontpage__header__jsme-specialiste
    margin-left 64px

@media only screen and (max-width : 414px)
  .frontpage__header__jsme-specialiste
    margin-left 0
    margin-top 16px

.frontpage__header__uz-temer-30-let
  height 104px
  width 475px
  color #FFFFFF
  font-family Cabin
  font-weight 400
  font-size 1rem
  letter-spacing 0.5px
  line-height 1.5rem
  margin-bottom 2rem

@media (max-width: 760px)
  .frontpage__header__uz-temer-30-let
    margin-left 64px

@media only screen and (max-width : 414px)
  .frontpage__header__uz-temer-30-let
    margin-left 0
    height auto
    width auto

.frontpage__header__button--kontaktujte-nas
  display flex
  justify-content center
  align-items center
  height 48px
  width 195px
  border-radius 5px
  background-color $redColor
  color #ffffff
  text-transform uppercase

  font-family Cabin
  font-size 1rem
  font-weight 700
  letter-spacing 0.06px
  line-height 1.5rem

  transition all 500ms

  &:hover
    background-color #ffffff
    color $redColor

@media (max-width: 760px)
  .frontpage__header__button--kontaktujte-nas
    margin-left 64px

@media only screen and (max-width : 414px)
  .frontpage__header__button--kontaktujte-nas
    margin-left 0

.frontpage__header__img
  position absolute
  border-radius $imageCornerRadius
  right -12rem
  bottom -2rem
  transition 500ms all ease

@media (max-width: 1500px)
  .frontpage__header__img
    bottom 2rem

@media (max-width: 1180px)
  .frontpage__header__img
    left 32rem
    
@media (max-width: 760px)
  .frontpage__header__img
    display none

.frontpage__content
  display flex
  flex-flow column
  align-items center

.section__info-box
  display flex
  flex-flow row
  align-items center

.section__info-box__text-box
  display flex
  flex-flow column
  border-radius $boxesRadius
  padding 2rem 6rem
  background-color $accentColor
  color $whiteColor
  max-width 570px

.info-box__text-box__title
  color $whiteColor
  font-weight 600
  font-size 1.5rem
  letter-spacing 0.05px
  line-height 28px
  margin-bottom 1.75rem

.info-box__text-box__content
  color $whiteColor
  font-size 1rem
  letter-spacing 0.5px
  line-height 1.5rem
  margin-bottom 1.75rem

.section__info-box__img
  border-radius $imageCornerRadius
  width 505px
  height 303px
  margin-right -2.25rem
  margin-left 4rem
  z-index 1

.section__content__cta
  display inline-flex
  justify-content center
  align-items center
  height 48px
  width 190px
  border-radius 5px
  font-size 1rem
  font-weight 700
  letter-spacing 0.06px
  line-height 1.5rem
  text-transform uppercase
  cursor pointer

.section--blue .section__content__cta
  color #ffffff
  background-color #FF3037
  border 2px solid #FF3037

.co-nabizime .section__content
  display flex
  flex-flow column
  justify-content center

@media only screen and (max-width : 414px)
  .proc-zvolit-bezvykopovou-metodu,
  .section--references
    display none