.info-box .button.button--reference
  margin-top 80px

@media only screen and (max-width : 414px)
  .info-box .button.button--reference
    margin-top 0
    align-self center

  .info-box--reference .info-box__content__header
    text-align center
