.button
  display inline-flex
  box-sizing border-box
  justify-content center
  align-items center
  height 48px
  width 190px
  border-radius 5px
  font-size 1rem
  font-weight 700
  letter-spacing 0.06px
  line-height 1.5rem
  text-transform uppercase
  cursor pointer

.button--white.button
  color #000000
  border 2px solid #FF3037

.button--blue.button
  color #ffffff
  border 2px solid #ffffff

.button--red.button
  color #ffffff
  background-color #FF3037
  border 2px solid #FF3037