.button
  display inline-flex
  box-sizing border-box
  justify-content center
  align-items center
  height 48px
  width 190px
  border-radius 5px
  font-size 1rem
  font-weight 700
  letter-spacing 0.06px
  line-height 1.5rem
  text-transform uppercase
  cursor pointer
  transition all 150ms ease

.button--white.button
  background-color $whiteColor
  color $textColor
  border 2px solid $redColor

.button--white.button:hover
  background-color $redColor
  color $whiteColor
  border 2px solid transparent

.button--blue.button
  background-color $accentColor
  color #ffffff
  border 2px solid #ffffff

.button--blue.button:hover
  color $accentColor
  background-color #ffffff
  border 2px solid transparent

.button--red.button
  color #ffffff
  background-color $redColor
  border 2px solid $redColor

.button--red.button:hover
  color $redColor
  background-color $whiteColor
  border 2px solid transparent