.page-paragraph
  display flex
  flex-flow column
  align-items center
  margin-top 3rem
  margin-bottom 3.75rem

@media (max-width: 794px)
  .page-paragraph
    padding 0 32px

.page-paragraph--with-title
  margin-top 1rem

.page-paragraph__content
  max-width 730px
  width 100%

.page-paragraph__header
  color $textColor
  font-family Cabin
  font-weight 600
  font-size 1.875rem
  letter-spacing 0.07px
  line-height 3rem
  margin 0 0 0.75rem 0

.page-paragraph__text
  color $textLighterColor
  font-family Cabin
  font-size 1rem
  letter-spacing 0.5px
  line-height 1.5rem
  margin 0
