.page-header
  width 100%
  display flex
  flex-flow column
  margin 2.25rem 0

.page-header--bottom-margin-small
  margin-bottom 1rem

.page-header
  h1, h2, h3, h4, h5, h6
    margin 0

.page-header--block
  align-items center

  h1, h2, h3, h4, h5, h6
    width 100%
    max-width $pageMaxWidth

.page-header--centered
  align-items center

.page-header--centered h1.page-header__title
  text-align center

h1.page-section__title
  color #00027D
  font-family Cabin
  font-weight 600
  font-size 60px
  letter-spacing 0.13px
  line-height 72px

h1.page-header__title
  color #121212
  font-family Cabin
  font-weight 500
  font-size 3rem
  letter-spacing 0.11px
  line-height 4.5rem

@media (max-width: 1180px)
  .page-header.page-header--contact
    padding-right 32px
    padding-left 32px

h1.page-header__title.page-header__title--blogpost
  font-size 30px
  line-height 36px
  max-width $blogMaxWidth
  margin-top 16px
  margin-bottom 36px

h3.page-header__category
  color $accentLightColor
  font-family Cabin
  font-size 24px
  letter-spacing 0.24px
  line-height 36px
  margin 16px 0

h2.page-header__subtitle.page-header__subtitle--link,
h3.page-header__category.page-header__category--link
  transition all 150ms ease

h2.page-header__subtitle.page-header__subtitle--link:hover,
h3.page-header__category.page-header__category--link:hover
  text-decoration underline

h2.page-header__subtitle,
h2.page-section__subtitle
  color $redColor
  font-family Cabin
  font-weight 500
  font-size 1rem
  letter-spacing 2px
  line-height 1.5rem
  text-transform uppercase

h3.page-header__section-title
  color $redColor
  font-family Cabin
  font-weight 600
  font-size 1.5rem
  letter-spacing 3px
  line-height 1.5rem
  text-transform uppercase

h4.page-header__paragraph-title
  width 100%
  max-width 730px
  color $redColor
  font-family Cabin
  font-weight 500
  font-size 1rem
  letter-spacing 0.16px
  line-height 1.5rem
  text-transform uppercase