.references
  position absolute
  top -8.5rem
  left 23.75rem
  box-sizing border-box
  width 760px
  min-width 400px

.references__masonry 
  display flex
  flex-flow column wrap
  max-height 700px
  margin-left -1.5rem /* Adjustment for the gutter */
  width 100%

.references__masonry__brick
  background-color #ffffff
  box-sizing border-box
  width 350px
  margin 0 1.5rem 1.5rem 0 /* Some gutter */
  padding 2.25rem
  border-radius $boxesRadius
  box-shadow 0 10px 20px 0 rgba(0,0,0,0.18)

.reference__text
  color #121212
  font-family Cabin
  font-size 1.5rem
  font-style italic
  letter-spacing 0.24px
  line-height 2.25rem
  text-align center
  margin-bottom 0.75rem

.reference__name
  color #1E1EEA
  font-family Cabin
  font-size 1rem
  font-weight 700
  letter-spacing 2px
  line-height 1.5rem
  text-align center

.reference__location
  color #A1A1A1
  font-family Cabin
  font-size 1rem
  letter-spacing 2px
  line-height 1.5rem
  text-align center