.section--narrow
  display flex
  flex auto
  flex-flow column
  width 100%
  max-width $pageMaxWidth
  padding 2rem 0

.section--wide
  width 100%
  padding 1.5rem 0
  display flex
  flex-flow column

.section--centered
  align-items center

.section--gray
  background-color #F2F2F2

.section--blue
  background-color #00027D

.section__subtitle
  margin 0
  color $redColor
  font-family Cabin
  font-size 1rem
  letter-spacing 2px
  line-height 3rem
  text-transform uppercase

.section__title
  color: #00027D
  font-family Cabin

.section--blue .section__title
  color #ffffff

.section--blue .section__subtitle
  color #FF3037

.section__content__text
  font-family Cabin
  font-size 1rem
  letter-spacing 0.5px
  line-height 1.5rem

.section--blue .section__content__text
  color #ffffff

.title--big
  font-size 3.75rem
  font-weight 700
  letter-spacing 0.13px
  line-height 4.5rem

.title--small
  font-size 1rem
  font-weight 500
  letter-spacing 2px
  line-height 1.5rem
  text-align center
  text-transform uppercase

.header--default
  margin-bottom 2.25rem

.header--small
  margin-bottom 1.125rem

.section__content__text
  max-width 18rem
  margin-bottom 2.125rem

.section__content__cta
  margin-bottom 7.5rem

.section__content
  position relative

.section__header,
.section__content
  max-width $pageMaxWidth
  width 100%