.why-box
  display flex
  flex-flow column
  justify-content flex-start
  align-items center
  width 190px
  margin 2rem

  justify-content: center;

.why-box--fixed-height
  height 228px

.why-box__img-box
  display flex
  justify-content center
  align-items center
  width 5.2rem
  height 5.2rem
  margin-bottom 0.8rem

.why-box__title
  color #00027D
  font-size 0.875rem
  font-weight 700
  letter-spacing 0.44px
  line-height 1.125rem
  text-align center
  text-transform uppercase
  height 36px

.why-box__text
  color #000000
  font-size 0.875rem
  letter-spacing 0.44px
  line-height 1.125rem
  text-align center
  margin-top 0.75rem

@media only screen and (max-width : 414px)
  .why-box
    width 140px
    height 160px
    margin 16px
    justify-content flex-start

  .why-box.why-box--fixed-height
    height 204px

  .why-box__title
    height 42px

  .why-box__img-box
    width 2.6rem
    height 2.6rem

  .why-box--fixed-height .why-box__img-box
    width 3rem
    height 3rem

  .why-box--fixed-height .why-box__img-box > img
    max-width 3rem
    max-height 3rem

  .why-box__img-box > img
    max-width 2.6rem
    max-height 2.6rem