.why-box
  display flex
  flex-flow column
  justify-content flex-start
  align-items center
  width 190px
  margin 2rem

.why-box--fixed-height
  height 228px

.why-box__img-box
  display flex
  justify-content center
  align-items center
  width 5.2rem
  height 5.2rem
  margin-bottom 0.8rem

.why-box__title
  color #00027D
  font-size 0.875rem
  font-weight 700
  letter-spacing 0.44px
  line-height 1.125rem
  text-align center
  text-transform uppercase

.why-box__text
  color #000000
  font-size 0.875rem
  letter-spacing 0.44px
  line-height 1.125rem
  text-align center
  margin-top 0.75rem